<h1>TextMex : The Texas-American Message Service</h1>
<h3>My Texts</h3>
<ul id="messages">
  <%= @message %>
</ul>
<br>
<%= render 'form' %>
<br>
<%= link_to "New Contact", new_contact_path, :class=> "btn btn-success", id: "add_contact" %>
